<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{adminLayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${challenge.id == null ? 'New Challenge' : 'Challenge ' + challenge.id}"></title>
    <link rel="stylesheet" th:href="@{/css/form.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.theme.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/javascript/imageUpload.js}"></script>
    <script th:src="@{/javascript/challengeForm.js}"></script>
</head>
<body>
<div layout:fragment="content2">
    <form enctype="multipart/form-data" id="challenge-form" method="post"
          th:action="@{/admin/challenges/__${challenge.id == null ? 'new' : challenge.id}__}" th:object="${challenge}">
        <div class="form-group">
            <label for="title" th:text="${'Title'}"></label>
            <div class="input-div">
                <input class="title-input" id="title" name="challenge-title" th:field="*{challengeTitle}" th:value="*{challengeTitle}"
                       type="text"/>
            </div>
            <div class="errorMessage" th:if="${#fields.hasErrors('challengeTitle')}" th:errors="*{challengeTitle}">
            </div>
        </div>
        <div class="form-group">
            <label for="challenge-description" th:text="${'Description'}"></label>
            <div class="input-div">
                <textarea id="challenge-description" name="challenge-description" th:errorclass="fieldError" th:field="*{description}"
                       th:value="*{description}" class="description-input"></textarea>
            </div>
            <div class="errorMessage" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
            </div>
        </div>
        <div class="form-group">
            <label for="thumbnail" th:text="${'Thumbnail'}"></label>
            <input accept="image/jpeg, image/png" class="hidden" id="thumbnail" name="pic" type="file">
            <div class="image-display" id="image-upload-wrapper" th:with="completeUrl='data:'+*{thumbnail.fileType}+';base64, '+*{thumbnail.base64String},
                 hasUrl=${!challenge.thumbnail.base64String.isBlank() && !challenge.thumbnail.base64String.isEmpty()}">
                <img id="preview"
                     th:alt="*{thumbnail.fileName}"
                     th:src="${completeUrl}"
                     th:style="${hasUrl ? 'display: block;' : 'display: none;'}">
            </div>
            <div class="errorMessage" th:if="${#fields.hasErrors('thumbnail')}" th:text="${#fields.errors('thumbnail')[0]}">
            </div>
        </div>
        <div class="form-group">
            <label for="stream" th:text="${'Stream'}"></label>
            <div class="input-div">
                <select id="stream" name="stream">
                    <option th:each="stream : ${allStreams}"
                            th:selected="${stream == challenge.stream}"
                            th:label="${(stream.name == 'NONE') ? 'Choose stream...' : stream.fullName}"
                            th:value="${stream}"></option>
                </select>
            </div>
            <div class="errorMessage" th:if="${#fields.hasErrors('stream')}" th:errors="*{stream}">
            </div>
        </div>
        <div class="form-group">
            <label>Feedbacks</label>
            <div class="feedback-box">
                <label> Positive Feedback Title</label>
                <div class="input-div">
                    <input type="text" class="title-input" th:field="${challenge.challengeFeedback[true].feedbackTitle}">
                </div>
                <div class="errorMessage" th:if="${#fields.hasErrors('${challenge.challengeFeedback[true].feedback_title}')}"
                     th:errors="${challenge.challengeFeedback[true].feedbackTitle}">
                </div>
                <label> Positive Feedback Text</label>
                <div class="input-div">
                    <textarea class="feedback" th:field="${challenge.challengeFeedback[true].feedbackText}"></textarea>
                </div>
                <div class="errorMessage" th:if="${#fields.hasErrors('${challenge.challengeFeedback[true].feedback_text}')}"
                     th:errors="${challenge.challengeFeedback[true].feedbackText}">
                </div>
            </div>
            <div class="feedback-box">
                <label>Negative Feedback</label>
                <div class="input-div">
                    <input type="text" class="title-input" th:field="${challenge.challengeFeedback[false].feedbackTitle}">
                </div>
                <div class="errorMessage" th:if="${#fields.hasErrors('${challenge.challengeFeedback[false].feedback_title}')}"
                     th:errors="${challenge.challengeFeedback[false].feedbackTitle}">
                </div>
                <label>Negative Feedback Text</label>
                <div class="input-div">
                    <textarea class="feedback" th:field="${challenge.challengeFeedback[false].feedbackText}"></textarea>
                </div>
                <div class="errorMessage" th:if="${#fields.hasErrors('${challenge.challengeFeedback[false].feedback_text}')}"
                     th:errors="${challenge.challengeFeedback[false].feedbackText}">
                </div>
            </div>
        </div>
        <div class="question-section">
            <div class="question-header">
                <h2>Questions</h2>
                <button class="add-button header-add-button" name="addQuestion" type="submit">ADD</button>
            </div>
            <div id="question-accordion">
                <th:block th:each="ques, quesStat : ${challenge.questions}">
                    <div class="question-row-one" th:id="${'question-accordion-'+quesStat}">
                        <h3 class="question-id" th:text="${ques.questionId == null ? 'New Question ' + (quesStat.index + 1) : 'Question ID: ' + ques.questionId}">Question</h3>
                        <div class="question-row-one-button">
                            <button class="remove-button remove-question-button" name="removeQuestion"
                                    th:value="${quesStat.index}" type="submit">REMOVE
                            </button>
                        </div>
                    </div>
                    <div class="question-content-group">
                        <div class="form-group">
                            <label>Question Title</label>
                            <div class="input-div">
                                <input class="title-input" name="question-title"
                                       th:field="*{questions[__${quesStat.index}__].questionTitle}"
                                       type="text"/>
                            </div>
                            <div class="errorMessage" th:if="${#fields.hasErrors('questions[__${quesStat.index}__].questionTitle')}"
                                 th:errors="*{questions[__${quesStat.index}__].questionTitle}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Question Text</label>
                            <div class="input-div">
                                <textarea class="description-input" name="question-text"
                                          th:field="*{questions[__${quesStat.index}__].questionText}"></textarea>
                            </div>
                            <div class="errorMessage" th:if="${#fields.hasErrors('questions[__${quesStat.index}__].questionText')}"
                                 th:errors="*{questions[__${quesStat.index}__].questionText}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="question-type" th:text="${'Question Type'}"></label>
                            <div class="input-div">
                                <select id="question-type" th:name="*{questions[__${quesStat.index}__].questionType}"
                                        th:field="*{questions[__${quesStat.index}__].questionType}">
                                    <option th:each="questionType : ${allQuestionType}"
                                            th:selected="${questionType == challenge.questions[__${quesStat.index}__].questionType}"
                                            th:label="${(questionType.name == 'NONE') ? 'Choose question type...' : questionType.fullName}"
                                            th:value="${questionType}"></option>
                                </select>
                            </div>
                            <div class="errorMessage" th:if="${#fields.hasErrors('questions[__${quesStat.index}__].questionType')}"
                                 th:errors="*{questions[__${quesStat.index}__].questionType}">
                            </div>
                        </div>
                        <!-- Choice part -->
                        <div class="choice-section">
                            <h3>Choices</h3>
                            <table>
                                <tr>
                                    <th class="choice-text-col">
                                        Choice Text
                                    </th>
                                    <th class="choice-weight-col">
                                        Choice Weight
                                    </th>
                                    <th class="choice-reason-col">
                                        Choice Reason
                                    </th>
                                    <th class="remove-col">
                                    </th>
                                </tr>
                                <tr th:each="choice, choiceStat : ${ques.choices}">
                                    <td>
                                        <input th:field="*{questions[__${quesStat.index}__].choices[__${choiceStat.index}__].choiceText}"
                                               type="text">
                                        <div class="errorMessage" th:if="${#fields.hasErrors('questions[__${quesStat.index}__].choices[__${choiceStat.index}__].choiceText')}"
                                             th:errors="*{questions[__${quesStat.index}__].choices[__${choiceStat.index}__].choiceText}">
                                        </div>
                                    </td>
                                    <td>
                                        <input th:field="*{questions[__${quesStat.index}__].choices[__${choiceStat.index}__].choiceWeight}"
                                               type="number">
                                        <div class="errorMessage" th:if="${#fields.hasErrors('questions[__${quesStat.index}__].choices[__${choiceStat.index}__].choiceWeight')}"
                                             th:errors="*{questions[__${quesStat.index}__].choices[__${choiceStat.index}__].choiceWeight}">
                                        </div>
                                    </td>
                                    <td>
                                        <input th:field="*{questions[__${quesStat.index}__].choices[__${choiceStat.index}__].choiceReason}"
                                               type="text">
                                        <div class="errorMessage" th:if="${#fields.hasErrors('questions[__${quesStat.index}__].choices[__${choiceStat.index}__].choiceReason')}"
                                             th:errors="*{questions[__${quesStat.index}__].choices[__${choiceStat.index}__].choiceReason}">
                                        </div>
                                    </td>
                                    <td>
                                        <button class="remove-icon" name="removeChoice"
                                                th:value="${quesStat.index + ',' + choiceStat.index}" type="submit">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <div class="add-row">
                                <button class="add-icon" name="addChoice" type="submit" th:value="${quesStat.index}">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="submit">
            <input name="save" type="submit" value="Save">
        </div>
    </form>
</div>
</body>
</html>