<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="'Challenge ' + ${challenge.id}"></title>
    <link rel="stylesheet" th:href="@{/css/challengeForm.css}" type="text/css">
</head>
<body>
    <ul layout:fragment="sidenav">
        <li class="sidebar-menu"><a th:href="@{/admin/challenges}">Challenges</a></li>
        <li class="sidebar-menu"><a th:href="@{/admin/questions}">Questions</a></li>
        <li class="sidebar-menu"><a th:href="@{/admin/choices}">Choices</a></li>
    </ul>
    <div layout:fragment="content2">
        <form th:action="@{/admin/challenges/__${challenge.id}__}" method="post" th:object="${challenge}">
            <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
            <div class="form-group">
                <label for="title" th:text="${'Title'}"></label>
                <div class="input-div">
                    <input type="text" id="title" th:field="*{challengeTitle}" th:value="*{challengeTitle}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="description" th:text="${'Description'}"></label>
                <div class="input-div">
                    <input type="text" id="description" th:field="*{description}"
                                              th:value="*{description}"
                                              th:errorclass="fieldError"/>
                </div>
            </div>
            <div class="form-group">
                <label for="thumbnail" th:text="${'Thumbnail'}"></label>
                <input id="thumbnail" name="pic" accept="image/jpeg, image/png" class="hidden" type="file">
                <div class="imageDisplay">
                    <img th:src="*{thumbnail}">
                </div>
            </div>
            <div class="form-group">
                <label for="stream" th:text="${'Stream'}"></label>
                <div class="input-div">
                    <select id="stream" name="stream">
                        <option th:each="stream : ${allStreams}" th:value="${stream}" th:text="${stream}"
                                th:selected="${stream == challenge.stream}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Questions</label>
                <table>
                    <th:block th:each="ques : ${challenge.questions}" class="questions">
                        <thead>
                        <tr>
                            <th th:text="'Question ID: ' + ${ques.key}">Question</th>
                            <th>
                                <button type="submit" name="addQuestion" class="add-button">ADD</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" th:field="*{questions[__${ques.key}__].questionTitle}" />
                                </td>
                                <td>
                                    <button type="submit" name="removeQuestion"
                                            th:value="${ques.key}" class="remove-button">REMOVE</button>
                                </td>
                            </tr>
                            <!-- Choice part -->
                            <th:block class="choices">
                                <tr>
                                    <th>
                                        Choice Text
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                                <tr th:each="choice : ${ques.value.choices}" th:name="choice">
                                    </td>
                                    <td>
                                        <input type="text" th:field="*{questions[__${ques.key}__].choices[__${choice.key}__].choiceText}">
                                    </td>
                                    <td>
                                        <button type="submit" name="removeChoice"
                                                th:value="${ques.key + ',' + choice.key}" class="remove-icon">&times;</button>
                                    </td>
                                </tr>
                                <tr class="add-row">
                                    <td><button type="submit" name="addChoice" th:value="${ques.key}" class="add-icon">+</button></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </th:block>
                </table>
            </div>

            <div class="submit">
                <input type="submit" name="save" value="Save">
            </div>
        </form>
    </div>
</body>
</html>