.container{
    padding: 15px 0 0;
}

.container2{
    font-family: "Mandali", sans-serif;
    padding: 15px 0;
}

.content-head {
    height: 2.3rem;
    width: auto;
    text-align: right;
}

/*Side Nav*/
.sidenav{
    text-align: center;
    padding: 20px 0;
}

/*Modal Style*/

.fa-exclamation-triangle{
    float: left;
    margin: 18px 12px 10px 0;
    font-size: 30px;
    color: #ff372d;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none !important;
    border: none !important;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-close:hover {
    padding: 0 !important;
}

/*Buttons Style*/
.create-new-button,
.delete-button,
.ui-button,
.ui-button .delete-button,
.create-new-button a{
    padding: 7px 2em;
    border-radius: 2px;
    background: #909090;
    border: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    font-family: "Helvetica Neue", sans-serif;
    color: #fff;
    outline: none;
}

.create-new-button a{
    background: none;
    padding: 7px 0;
}

.create-new-button:hover, .ui-button:hover,
.create-new-button:focus, .ui-button:focus{
    cursor: pointer;
    background-color: #2196F3;
}

.create-new-button:active {
    opacity: 85%;
}

.delete-button{
    margin: 0 15px 0 8px
}

.delete-button:disabled{
    background: #909090;
}

.delete-button:enabled{
    background: #ff2a36;
}

.delete-button:enabled:hover, .ui-button:hover,
.delete-button:enabled:focus, .ui-button:focus,
.delete-button:enabled:active, .ui-button:active{
    cursor: pointer;
    opacity: 85%;
    font-weight: 600;
    border: none;
    color: #fff;
}

.ui-state-hover .ui-icon, .ui-button:hover .ui-icon,
.ui-state-focus .ui-icon, .ui-button:focus .ui-icon,
.ui-state-active .ui-icon, .ui-button:active .ui-icon{
    background-image: url("../images/ui-icons_ff2a36_256x240.png");
}

/*Table Style*/
.column-select{
    width: 16px;
}

div.table-content{
    margin: 20px 25px;
}