.container2 {
  float: left;
  text-align: left;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 90px;
  margin-left: 160px;
}

.hidden {
  display: none;
}

.question-section h2 {
  display: inline-block;
  margin: 15px 0;
  width: auto;
}
.question-section .header-add-button {
  float: right;
  margin: 15px 100px 15px 0;
  padding: 7px 15px;
  font-size: 15px;
}
.question-section .question-row-one {
  background: #f9f9fc;
  width: 80%;
  position: relative;
  color: #454545;
  border: 1px solid #aaaccc;
}
.question-section .question-row-one h3 {
  display: inline-block;
  margin: 5px 2px;
}
.question-section .question-row-one .remove-question-button {
  position: absolute;
  right: 40px;
  top: 12px;
}
.question-section .question-row-one:hover {
  background: #fafafc;
}
.question-section .question-row-one:active {
  color: #454545;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.question-section .question-content-group {
  width: 80%;
}
.question-section .question-content-group .choice-section {
  margin-bottom: 10px;
}
.question-section .question-content-group .choice-section table {
  width: 90%;
}
.question-section .question-content-group .choice-section table tr td {
  padding-right: 5px;
}
.question-section .question-content-group .choice-section table tr td input, .question-section .question-content-group .choice-section table tr td .errorMessage {
  width: 100%;
}
.question-section .question-content-group .choice-section table .choice-text-col, .question-section .question-content-group .choice-section table .choice-reason-col {
  width: 40%;
}
.question-section .question-content-group .choice-section table .choice-weight-col {
  width: 13%;
}
.question-section .question-content-group .choice-section table .remove-col {
  width: 5%;
}
.question-section .add-button {
  background: #909090;
}
.question-section .add-button:hover {
  background: #2196F3;
}
.question-section .remove-button {
  background: none;
  color: #454545;
}
.question-section .remove-button:hover {
  color: #ff2a36;
}
.question-section .remove-icon, .question-section .add-icon {
  font-weight: bolder;
  background: none;
  font-size: 15px;
}
.question-section .remove-icon {
  color: #ff2a36;
  font-size: inherit;
}
.question-section .add-row {
  width: 84%;
  text-align: center;
  padding-top: 20px;
}
.question-section .fa-plus {
  color: #18dd5a;
  font-size: inherit;
}

.question-form .question-content-group {
  width: 100%;
}

.form-group, .choice-section {
  padding: 5px;
  padding-left: 20px;
  padding-right: 15px;
}
.form-group input, .form-group select, .form-group textarea, .choice-section input, .choice-section select, .choice-section textarea {
  margin: 5px 0;
  border: 1px solid #aaaccc;
  border-radius: 5px;
  padding: 2px 10px 5px;
  font-size: 14px;
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  color: #3b3a3a;
  resize: none;
  width: 80%;
  height: 40px;
}
.form-group textarea, .choice-section textarea {
  padding: 8px 10px 5px;
  height: 200px;
}
.form-group .image-display, .choice-section .image-display {
  background-image: url("../images/uploadImageBg.svg");
  background-size: cover;
  margin: 5px 0;
  padding: 0;
  height: 240px;
  width: 426px;
  border-radius: 8px;
}
.form-group .image-display img, .choice-section .image-display img {
  height: inherit;
  width: inherit;
  box-shadow: 0 0.1em 4px #000;
}
.form-group .image-display:hover, .choice-section .image-display:hover {
  cursor: pointer;
  background-image: url("../images/uploadImageHover.svg");
  transition: 0.2s;
  box-shadow: 0 0.1em 4px #000;
}
.form-group label, .choice-section label {
  font-family: "Helvetica", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #454545;
}
.form-group .feedback-box, .choice-section .feedback-box {
  margin: 5px 0;
}
.form-group input[type=submit], .choice-section input[type=submit] {
  border: none;
  background: #909090;
  color: white;
}
.form-group input[type=submit]:hover, .choice-section input[type=submit]:hover {
  background: blue;
}

button {
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}

.submit {
  width: 80%;
  margin: 60px 0;
  text-align: center;
}
.submit input {
  width: 46%;
  font-size: 25px;
  border-radius: 9px;
  border: none;
  padding: 10px 30px;
  margin: 0 auto;
  font-family: "Verdana", sans-serif;
  background: #909090;
  color: #fafafc;
  outline: none;
}
.submit input:hover {
  cursor: pointer;
  background: #2196F3;
  color: #fff;
  transition: ease-in-out;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.errorMessage {
  color: #ff2a36;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px 30px;
  background: #fff0f1;
  border-radius: 5px;
  width: 80%;
  box-shadow: 0 0 2px 1px #ff2a36;
}

/*# sourceMappingURL=form.css.map */
