body{
    width: 100%;
}
html{
    scroll-behavior: smooth;
}

/*First section where users choose a stream*/
.chooseStream{
    margin-bottom: 50px;
}
.chooseStream .title{
    font-size: 20px;
}
.chooseStream table tbody tr td{
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.chooseStream tr td img{
    height: auto;
    width: 90%;
    transition: 0.3s;
    filter: grayscale(50%);
}
.chooseStream tr td img:hover{
    height: auto;
    width: 85%;
    filter: grayscale(0%);
    transition: 0.3s;
}
.chooseStream .progress-bars progress{
    height: 50px;
    width: 90%;
}