<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{headinglayout.html}">
<head>
    <link href="../static/css/sideNav.css" rel="stylesheet" th:href="@{/css/sideNav.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mandali&display=swap" rel="stylesheet">
    <script>
        tinymce.init({
            selector: '.feedback',
            height: 200,
            width: '80%',
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | fontsizeselect |' +
                'bold italic |' +
                'bullist numlist outdent indent | ' +
                'link | help',
            contextmenu: 'link lists',
            skin_url: '/css/tinyMCESkin/skins/ui/tinyMCESkin',
            skin: 'tinyMCESkin',
            content_css: false,
            resize: false
        });
    </script>
<body>
    <th:block layout:fragment="heading">
        <nav class="header" layout:fragment="navigation-bar">
            <a class="navbar-brand" th:href="'https://www.fdmgroup.com'">
                <img alt="FDMlogo" class="logo" src="../static/images/FDMlogo.png" th:src="@{/images/FDMlogo.png}">
            </a>
            <ul layout:fragment="nav-menu-list">
                <li class="navbar-menu">
                    <form method="post" th:action="@{/logout}">
                        <input type="submit" id="logout-button" value="Log Out"/>
                    </form>
                </li>
            </ul>
        </nav>
    </th:block>
    <div layout:fragment="content">
        <div class="sidenav">
            <div class="sidenav sidenav-column">
                <ul class="sidebar-menu-list" layout:fragment="sidenav">
                    <li class="sidebar-menu"><a th:href="@{/admin/challenges}">Challenges</a></li>
                    <li class="sidebar-menu"><a th:href="@{/admin/questions}">Questions</a></li>
                    <li class="sidebar-menu"><a th:href="@{/admin/choices}">Choices</a></li>
                </ul>
            </div>
        </div>
        <div class="container2" layout:fragment="content2">
        </div>
    </div>
</body>
</html>
