<!DOCTYPE html>
<html lang="en" layout:decorator="~{headinglayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scenarios</title>
    <link href="../static/css/explore.css" rel="stylesheet" th:href="@{/css/explore.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="title">
        <h2>Scenarios</h2>
    </div>

    <section class="scenarioNavbar">
        <ul id="nav-tabs">
            <li id="ST">
                Software Testing
            </li>
            <li id="BI">
                Business Intelligence
            </li>
            <li id="TO">
                Technical Operations
            </li>
            <li id="ALL">
                Show All
            </li>
        </ul>
    </section>
    <div class="title2" id="title2">
        <h2>Choose a Scenario</h2>
    </div>
    <section class="chooseScenario">
        <div class="scene1" id="STtab">
            <th:block th:each="scenario : ${ST}">
                <a th:href="@{scenario/__${scenario.id}__}">
                    <table>
                        <tr class="row1">
                            <th th:text="${scenario.challengeTitle}"></th>
                        </tr>
                        <tr class="row2">
                            <th>Image Placeholder</th>
                        </tr>
                        <tr class="row3">
                            <th>Score:</th>
                        </tr>
                    </table>
                </a>
            </th:block>
        </div>
        <div class="scene1" id="BItab">
            <th:block th:each="scenario : ${BI}">
                <a th:href="@{scenario/__${scenario.id}__}">
                    <table>
                        <tr class="row1">
                            <th th:text="${scenario.challengeTitle}"></th>
                        </tr>
                        <tr class="row2">
                            <th th:text="${scenario.description}"></th>
                        </tr>
                        <tr class="row3">
                            <th>Score:</th>
                        </tr>
                    </table>
                </a>
            </th:block>
        </div>
        <div class="scene1" id="TOtab">
            <th:block th:each="scenario : ${TO}">
                <a th:href="@{scenario/__${scenario.id}__}">
                    <table>
                        <a th:href="@{/scenario/__${scenario.id}__}"></a>
                        <tr class="row1">
                            <th th:text="${scenario.challengeTitle}"></th>
                        </tr>
                        <tr class="row2">
                            <th th:text="${scenario.description}"></th>
                        </tr>
                        <tr class="row3">
                            <th>Score:</th>
                        </tr>
                    </table>
                </a>
            </th:block>
        </div>
    </section>


    <script>

        $(function () {

            $(".scene1").hide();

            function display(id) {
                $(".title2").hide();
                $(".scene1").hide();
                if(id === "ALL"){
                    $(".scene1").fadeIn("slow");
                    $(".scene1").find("table").css("display", "table");
                }else {
                    $(".scene1").find("table").css("display", "inline-table");
                    $("#" + id + "tab").fadeIn("slow");
                }
                sessionStorage.setItem("option", id);
            }

            if(sessionStorage.getItem("option") && sessionStorage.getItem("option") !== "NONE") {
                display(sessionStorage.getItem("option"));
            }

            $("#nav-tabs li").click(function () {
                var id = $(this).attr("id");
                display(id);
            });
        });
        // var x = document.getElementById("testinggames");
        // var x2 = document.getElementById("businessgames");
        // var x3 = document.getElementById("techgames");
        // var x4 = document.getElementById("title2");
        // var xALL = document.getElementsByClassName("scene1");
        //
        // function displayGame() {
        //     x.style.display = "block";
        //     x2.style.display = "none";
        //     x3.style.display = "none";
        //     x4.style.display = "none";
        //     var i;
        //     for (i = 0; i < xALL.length; i++) {
        //         xALL[0].style.width = "auto";
        //     }
        // }
        //
        // function displayGame2() {
        //     x2.style.display = "block";
        //     x.style.display = "none";
        //     x3.style.display = "none";
        //     x4.style.display = "none";
        //     var i;
        //     for (i = 0; i < xALL.length; i++) {
        //         xALL[1].style.width = "auto";
        //     }
        // }
        //
        // function displayGame3() {
        //     x3.style.display = "block";
        //     x.style.display = "none";
        //     x2.style.display = "none";
        //     x4.style.display = "none";
        //
        //     var i;
        //     for (i = 0; i < xALL.length; i++) {
        //         xALL[2].style.width = "auto";
        //     }
        // }
        //
        // function displayGame4() {
        //     x3.style.display = "block";
        //     x.style.display = "block";
        //     x2.style.display = "block";
        //     x4.style.display = "none";
        // }
        //
        // if (sessionStorage.getItem("option") === "ST") {
        //     displayGame();
        // } else if (sessionStorage.getItem("option") === "BI") {
        //     displayGame2();
        // } else if (sessionStorage.getItem("option") === "TO") {
        //     displayGame3();
        // }
    </script>
</div>

</body>
</html>