<!DOCTYPE html>
<html lang="en" layout:decorator="~{headinglayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
    <link href="../static/css/explore.css" rel="stylesheet" th:href="@{/css/explore.css}">
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="title">
        <h2>Stream</h2>
    </div>

    <section class="streamNavbar">
        <ul id="nav-tabs">
            <li id="ST">
                Software Testing
            </li>
            <li id="BI">
                Business Intelligence
            </li>
            <li id="TO">
                Technical Operations
            </li>
            <li id="ALL">
                Show All
            </li>
        </ul>
    </section>
    <div class="title2" id="title2">
        <h2>Choose a Scenario</h2>
    </div>
    <section class="chooseStream">
        <div class="scene1" id="STtab">
            <th:block th:each="scenario : ${ST}">
                <a th:href="@{scenario/__${scenario.id}__}">
                    <table>
                        <tr class="row1">
                            <th th:text="${scenario.challengeTitle}"></th>
                        </tr>
                        <tr class="row2">
                            <th class="image-display" id="image-upload-wrapper"
                                th:with="completeUrl='data:'+${scenario.thumbnail.fileType}+';base64, '+${scenario.thumbnail.base64String}">
                                <img id="preview"
                                     th:alt="${scenario.thumbnail.fileName}"
                                     th:src="${completeUrl}">
                            </th>
                        </tr>
                        <tr class="row3">
                            <th></th>
                        </tr>
                    </table>
                </a>
            </th:block>
        </div>
        <div class="scene1" id="BItab">
            <th:block th:each="scenario : ${BI}">
                <a th:href="@{scenario/__${scenario.id}__}">
                    <table>
                        <tr class="row1">
                            <th th:text="${scenario.challengeTitle}"></th>
                        </tr>
                        <tr class="row2">
                            <th>Image Placeholder</th>
                        </tr>
                        <tr class="row3">
                            <th>Score:</th>
                        </tr>
                    </table>
                </a>
            </th:block>
        </div>
        <div class="scene1" id="TOtab">
            <th:block th:each="scenario : ${TO}">
                <a th:href="@{scenario/__${scenario.id}__}">
                    <table>
                        <a th:href="@{/scenario/__${scenario.id}__}"></a>
                        <tr class="row1">
                            <th th:text="${scenario.challengeTitle}"></th>
                        </tr>
                        <tr class="row2">
                            <th>Image Placeholder</th>
                        </tr>
                        <tr class="row3">
                            <th>Score:</th>
                        </tr>
                    </table>
                </a>
            </th:block>
        </div>
    </section>


    <script>

        $(function () {

            $(".scene1").hide();

            function display(id) {
                $(".title2").hide();
                $(".scene1").hide();
                if(id === "ALL"){
                    $(".scene1").fadeIn("slow");
                    $(".scene1").find("table").css("display", "table");
                }else {
                    $(".scene1").find("table").css("display", "inline-table");
                    $("#" + id + "tab").fadeIn("slow");
                }
                sessionStorage.setItem("option", id);
            }

            if(sessionStorage.getItem("option") && sessionStorage.getItem("option") !== "NONE") {
                display(sessionStorage.getItem("option"));
            }

            $("#nav-tabs li").click(function () {
                var id = $(this).attr("id");
                display(id);
            });
        });
    </script>
</div>

</body>
</html>