<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FDM Games</title>
    <link rel="stylesheet" href="../static/css/heading.css" th:href="@{/css/heading.css}">
    <link rel="stylesheet" href="../static/css/checkboxStyle.css" th:href="@{/css/checkboxStyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mandali&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <th:block layout:fragment="heading">
        <nav class="header" layout:fragment="navigation-bar">
            <a class="navbar-brand" th:href="'https://www.fdmgroup.com'">
                <img alt="FDMlogo" class="logo" src="../static/images/FDMlogo.png" th:src="@{/images/FDMlogo.png}">
            </a>
            <ul id="navbar-menu-list" layout:fragment="nav-menu-list">
                <li><a href="/home" th:href="@{/home}">Home</a></li>
                <li><a href="/explore" th:href="@{/explore}">Explore</a></li>
                <li><a href="/leaderboard" th:href="@{/leaderboard}">Leaderboard</a></li>
            </ul>
        </nav>
        <div class="heading">
            <h1>FDM Games</h1>
        </div>
    </th:block>
    <div class="container" layout:fragment="content">
        <div class="footer" layout:fragment="footer">
            <p>Footer</p>
        </div>
    </div>
</body>
</html>
