<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <img src="../static/images/FDMlogo.png" th:src="@{/images/FDMlogo.png}" alt="FDMlogo" class="logo">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/scenarios}">Explore</a></li>
        <li><a th:href="@{/leaderboard}">Leaderboard</a></li>
    </ul>
</header>

    <div class="heading">
        <h1>FDM Games</h1>
    </div>

<section id="section1">
    <section class="chooseStream">
        <div class="title">
            <h2>Choose a Stream</h2>
        </div>
        <table>
            <tbody>
            <tr>
                <td><a onclick="displayGame()" th:href="@{/scenarios}"><img src="../static/images/softwaretesting2.png" th:src="@{/images/softwaretesting2.png}" alt="softwaretestingpic"></a></td>
                <td><a onclick="displayGame2()" th:href="@{/scenarios}"><img src="../static/images/business2.png" th:src="@{/images/business2.png}" alt="businesspic"></a></td>
                <td><a onclick="displayGame3()" th:href="@{/scenarios}"><img src="../static/images/technical2.png" th:src="@{/images/technical2.png}" alt="techpic"></a></td>
            </tr>
            <tr class="progress-bars">
                <td><progress id="bar1" value="20" max="100"></progress></td>
                <td><progress id="bar2" value="20" max="100"></progress></td>
                <td><progress id="bar3" value="20" max="100"></progress></td>
            </tr>
            </tbody>
        </table>
    </section>
</section>

<footer>
    <div>
        <p>Footer</p>
    </div>
</footer>
</body>

<script>
    if (sessionStorage.getItem("option") == null){
        sessionStorage.setItem("option", "none");
    }
    function displayGame() {
        sessionStorage.setItem("option", "ST");
    }
    function displayGame2() {
        sessionStorage.setItem("option", "BI");
    }
    function displayGame3() {
        sessionStorage.setItem("option", "TO");
    }
</script>
</html>