<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{headinglayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Scenarios</title>
    <link rel="stylesheet" href="../static/css/leaderboard.css" th:href="@{/css/leaderboard.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
<body>

<div layout:fragment="content">
    <section class="leaderboardSection">
        <table>
            <tr>
                <th>Name</th>
                <th>Stream</th>
                <th>Scenario</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>Kaenan</td>
                <td>Software Testing</td>
                <td>Scenario 1</td>
                <td>100</td>
            </tr>
        </table>
    </section>
</div>
</body>