<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scenarios</title>
    <link rel="stylesheet" href="stylesheets/leaderboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img src="stylesheets/images/FDMlogo.png" alt="FDMlogo" class="logo">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="scenarios.html">Explore</a></li>
        <li><a href="leaderboard.html">Leaderboard</a></li>
    </ul>
</header>

<div class="heading">
    <h1>FDM Games</h1>
</div>

<div class="sectionTitle">
    <h2>Leaderboard</h2>
</div>

<section class="leaderboardSection">
    <table>
        <tr>
            <th>Name</th>
            <th>Stream</th>
            <th>Scenario</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>Kaenan</td>
            <td>Software Testing</td>
            <td>Scenario 1</td>
            <td>100</td>
        </tr>
    </table>
</section>

<footer>
    <div>
        <p>Footer</p>
    </div>
</footer>
</body>