<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{headinglayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Admin login</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>

<body>
<div layout:fragment="heading">
    <nav class="header" layout:fragment="navigation-bar">
        <a class="navbar-brand" th:href="'https://www.fdmgroup.com'">
            <img alt="FDMlogo" class="logo" src="../static/images/FDMlogo.png" th:src="@{/images/FDMlogo.png}">
        </a>
    </nav>
</div>

<div layout:fragment="content">
    <div class="login-form">
        <div class="login-form-header">
            Admin Login
        </div>
        <form th:action="@{/login}" method="post" class="loginForm">


            <div class="form-group">
                <div class="error" th:if="${param.error}"
                     th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                    <div class="warning-icon"><i class="fa fa-times-circle"></i></div>
                    <span th:text="${errorMsg}"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="username">Username</label>
                </div>
                <input type="text" id="username" name="username" class="input" placeholder="Username"/>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="password">Password</label>
                </div>
                <input type="password" id="password" name="password" class="input" placeholder="Password"/><br>
            </div>
            <div class="submit">
                <button type="submit" class="login-button">Login</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>