<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/questionspage.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img src="../static/images/FDMlogo.png" th:src="@{/images/FDMlogo.png}" alt="FDMlogo" class="logo">
    <ul>
        <li><a href="/home" th:href="@{/home}">Home</a></li>
        <li><a href="/scenarios" th:href="@{/scenarios}">Explore</a></li>
        <li><a href="/leaderboard" th:href="@{/leaderboard}">Leaderboard</a></li>
    </ul>
</header>

<div class="heading">
    <h1>FDM Games</h1>
</div>
<p th:text="${scenario.challengeTitle}"></p>


</body>
</html>