<!DOCTYPE html>
<html lang="en" layout:decorate="~{headinglayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scenario</title>
    <link href="../static/css/questionspage.css" rel="stylesheet" th:href="@{/css/questionspage.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
    <body>
        <div layout:fragment="content">
            <p th:text="${scenario.challengeTitle}"></p>
            <ul th:each="question : ${questions}" th:with="curQ=${questions[__${question.key}__]}">
                <li><a th:text="${curQ.questionTitle}" th:href="@{/scenario/__${sid}__/__${curQ.questionId}__}"></a></li>
            </ul>
        </div>
    </body>
</html>