<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{headinglayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="../static/css/question.css" type="text/css" th:href="@{/css/question.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <script th:src="@{/javascript/dragAndDrop.js}"></script>
</head>
<body>
    <div layout:fragment="content">
        <h1 th:text="${question.questionTitle}"></h1>
        <div class="textArea">
            <p th:text="${question.questionText}">
        </div>

        <h3>Drag and drop</h3>
        <div class="container2">
            <form th:action="@{__${sid}__/__${qid}__}" method="post" th:object="${question}">
                <div class="choiceContainer">
                    <ul id="choices" class="droptrue">
                        <li th:each="choice : *{choices}">
                            <span th:text="*{choices[__${choice.key}__].choiceText}"></span>
                            <input type="hidden" th:value="*{choices[__${choice.key}__].choiceId}" name="choices"/>
                        </li>
                    </ul>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>0</th>
                            <th>1</th>
                            <th>2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="droppable">
                                <ul id="score0" class="droptrue">
                                </ul>
                            </td>
                            <td class="droppable">
                                <ul id="score1" class="droptrue">
                                </ul>
                            </td>
                            <td class="droppable">
                                <ul id="score2" class="droptrue">
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input id="submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>