<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{question.html}">
<head>
    <meta charset="UTF-8">
    <title>Scenarios</title>
    <link rel="stylesheet" href="../static/css/leaderboard.css" th:href="@{/css/questionResult.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container2" layout:fragment="dragAndDrop">
        <form th:action="@{/scenario/__${sid}__/__${qid}__}" method="post" th:object="${question}">
            <div class="choiceContainer">
                <ul id="choices" class="droptrue">
                </ul>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="droppable">
                        <ul id="score0" class="droptrue">
                            <li th:each="cid : ${cids0}">
                                <span th:text="${choices[__${cid}__].choiceText}"></span>
                                <input type="hidden" th:value="${choices[__${cid}__].choiceId}" name="score0"/>
                            </li>
                        </ul>
                    </td>
                    <td class="droppable">
                        <ul id="score1" class="droptrue">
                            <li th:each="cid : ${cids1}">
                                <span th:text="${choices[__${cid}__].choiceText}"></span>
                                <input type="hidden" th:value="${choices[__${cid}__].choiceId}" name="score1"/>
                            </li>
                        </ul>
                    </td>
                    <td class="droppable">
                        <ul id="score2" class="droptrue">
                            <li th:each="cid : ${cids2}">
                                <span th:text="${choices[__${cid}__].choiceText}"></span>
                                <input type="hidden" th:value="${choices[__${cid}__].choiceId}" name="score2"/>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>
    <div layout:fragment="result">
        <p th:text="'Score: ' + ${score}"></p>
    </div>
</body>