<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{headinglayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="../static/css/question.css" type="text/css" th:href="@{/css/radioStyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
        <h1 th:text="${question.questionTitle}"></h1>
        <div class="textArea">
            <p th:text="${question.questionText}">
        </div>
        <form th:action="@{/scenario/__${sid}__/__${qid}__}" method="post" th:object="${question}">
            <ul id="choices" class="droptrue">
                <li th:each="choice : ${choices}" th:id="'ch'+${choice.key}" class="choice">
                    <input name = "choices" type="radio" th:text="${choices[__${choice.key}__].choiceText}"></input>
                    <input type="hidden" th:value="${choice.key}" name="choices"/>
                    <!--
                    <input name = "choices" type="checkbox" th:text="${choices[__${choice.key}__].choiceText}"></input>
                    <input type="hidden" th:value="${choice.key}" name="choices"/>
                    -->
                </li>
            </ul>
        <input id="submit" type="submit" value="Submit">
        </form>
    </div>
    <div class="result" layout:fragment="result" th:style="'display:'+ ${score != null ? 'block' : 'none'}">
        <p id="score" th:text="'Score: ' + ${score}" th:value="${score}"></p>
    </div>
</body>
</html>