<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{scenarioLayout.html}"
      th:with="infoTitle=${question.questionTitle},
      infoText=${question.questionText},
      scenario=${scenario},
      questions=${questions},
      score=${score},
      choices=${choices}">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/radio.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <script type=module th:src="@{/javascript/radio.js}"></script>
</head>
<body>
    <div layout:fragment="content3">
        <form th:action="@{/scenario/__${sid}__/__${qid}__}" method="post" th:object="${question}">
            <ul id="choices" class="droptrue">
                <li th:each="choice, choiceStat : ${choices}" th:id="'ch'+${choice.choiceId}" class="choice">
                    <input name = "choices" type="radio" th:text="${choices[__${choiceStat.index}__].choiceText}"
                           th:id="${choice.choiceId}" th:value="${choice.choiceId}"/>
                </li>
            </ul>
            <input id="submit" type="submit" name="radioQuestion" value="Submit">
        </form>
    </div>
</body>
</html>