<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{headinglayout.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Default title for my pages</title>
    <link href="../static/css/heading.css" rel="stylesheet" th:href="@{/css/sideNav.css}">
    <script th:src="@{/javascript/reset.js}"></script>
</head>
<body>
<th:block layout:fragment="heading">
    <nav class="header" layout:fragment="navigation-bar">
        <a class="navbar-brand" th:href="'https://www.fdmgroup.com'">
            <img alt="FDMlogo" class="logo" src="../static/images/FDMlogo.png" th:src="@{/images/FDMlogo.png}">
        </a>
        <button id="reset">Reset</button>
        <ul id="navbar-menu-list" layout:fragment="nav-menu-list">
            <li><a href="/home" th:href="@{/home}">Home</a></li>
            <li><a href="/explore" th:href="@{/explore}">Explore</a></li>
            <li><a href="/leaderboard" th:href="@{/leaderboard}">Leaderboard</a></li>
        </ul>
    </nav>
</th:block>

<div layout:fragment="content">
    <div class="sidenav">
        <div class="sidenav sidenav-column">
            <div class="scenario-redir">
                <a th:text="${scenario.challengeTitle}" th:href="@{/scenario/__${scenario.id}__}"></a>
            </div>
            <div class="questions-list">
                <ul class="sidebar-menu-list">
                    <li th:each="question, questionStat : ${questions}" th:with="curQ=${questions[__${questionStat.index}__]}">
                        <a th:text="${curQ.questionTitle}" th:href="@{/scenario/__${sid}__/__${curQ.questionId}__}" th:id="${curQ.questionId}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container2" layout:fragment="content2">
        <div class="info">
            <h1 th:text="${infoTitle}"></h1>
            <div class="textArea">
                <p th:text="${infoText}">
            </div>
        </div>
        <div class="container3" layout:fragment="content3">

        </div>
        <div class="result" th:style="'display:'+ ${score != null ? 'block' : 'none'}" layout:fragment="result">
            <p id="score" th:text="'Score: ' + ${score}" th:value="${score}"></p>
            <div th:each="choice: ${choices}" th:text="${choice.choiceReason}">
            </div>
        </div>


    </div>
</div>
</body>
</html>
