<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{headinglayout.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Default title for my pages</title>
    <link href="../static/css/heading.css" rel="stylesheet" th:href="@{/css/sideNav.css}">
</head>
<body>
<th:block layout:fragment="heading">
    <nav class="header" layout:fragment="navigation-bar">
        <a class="navbar-brand" th:href="'https://www.fdmgroup.com'">
            <img alt="FDMlogo" class="logo" src="../static/images/FDMlogo.png" th:src="@{/images/FDMlogo.png}">
        </a>
        <ul id="navbar-menu-list" layout:fragment="nav-menu-list">
            <li><a href="/home" th:href="@{/home}">Home</a></li>
            <li><a href="/explore" th:href="@{/explore}">Explore</a></li>
            <li><a href="/leaderboard" th:href="@{/leaderboard}">Leaderboard</a></li>
        </ul>
    </nav>
</th:block>

<div layout:fragment="content">
    <div class="sidenav">
        <div class="sidenav sidenav-column">
            <ul class="sidebar-menu-list" layout:fragment="sidenav">
            </ul>
        </div>
    </div>
    <div class="container2" layout:fragment="content2">
        <div class="info" layout:fragment="info">
            <h1 th:text="${infoTitle}"></h1>
            <div class="textArea">
                <p th:text="${infoText}">
            </div>
        </div>
        <div class="container3" layout:fragment="content3">
            
        </div>
        <div class="result" th:style="'display:'+ ${score != null ? 'block' : 'none'}" layout:fragment="result">
            <p id="score" th:text="'Score: ' + ${score}" th:value="${score}"></p>
        </div>
    </div>
</div>
</body>
</html>
