<!DOCTYPE html>
<html lang="en" layout:decorate="~{scenarioLayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scenario</title>
    <link href="../static/css/scenario.css" rel="stylesheet" th:href="@{/css/scenario.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
    <body>
        <ul layout:fragment="sidenav">
            <li th:each="question, questionStat : ${questions}" th:with="curQ=${questions[__${questionStat.index}__]}">
                <a th:text="${curQ.questionTitle}" th:href="@{/scenario/__${sid}__/__${curQ.questionId}__}"></a>
            </li>
        </ul>

        <div layout:fragment="content2">
            <p th:text="${scenario.challengeTitle}"></p>
        </div>
    </body>
</html>