<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{headinglayout.html}">
<head>
    <link href="../static/css/heading.css" rel="stylesheet" th:href="@{/css/sideNav.css}">
<body>
    <th:block layout:fragment="heading">
        <nav class="header" layout:fragment="navigation-bar">
            <a class="navbar-brand" th:href="'https://www.fdmgroup.com'">
                <img alt="FDMlogo" class="logo" src="../static/images/FDMlogo.png" th:src="@{/images/FDMlogo.png}">
            </a>
            <ul layout:fragment="nav-menu-list">
                <li class="navbar-menu">
                    <form method="post" th:action="@{/logout}">
                        <input type="submit" id="logout-button" value="Log Out"/>
                    </form>
                </li>
            </ul>
        </nav>
    </th:block>
    <div layout:fragment="content">
        <div class="sidenav">
            <div class="sidenav sidenav-column">
                <ul class="sidebar-menu-list" layout:fragment="sidenav">
                </ul>
            </div>
        </div>
        <div class="container2" layout:fragment="content2">
        </div>
    </div>
</body>
</html>
