<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{scenarioLayout.html}"
      th:with="infoTitle=${question.questionTitle},
      infoText=${question.questionText},
      scenario=${scenario},
      questions=${questions},
      score=${score},
      choices=${choices}">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/textbox.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <script type=module th:src="@{/javascript/textbox.js}"></script>
</head>
<body>
    <div layout:fragment="content3">
        <form th:action="@{/scenario/__${sid}__/__${qid}__}" method="post" th:object="${question}">
            <label>Type in your answer here:</label>
            <input name="answer" type="text" id="answer">
            <input id="submit" type="submit" name="textboxQuestion" value="Submit">
        </form>
    </div>
</body>
</html>